*{
  color: whitesmoke;
  text-shadow:1px 1px 6px #fff, 1px 1px 6px #ccc;
  font-family: lora;
  font-weight: bold;
}

body{
    background: rgb(0,0,0);
   background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(21,1,73,1) 100%);
}

h1{
  font-family: quicksand;
  text-decoration: double underline;
  font-size: x-large;
  max-width: 100%;
}

img{
  max-width: 128px;
  max-height: 128px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

p{
  font-weight: light;
  max-width: 100%;
}

h4{
  font-weight: lighter;
  max-width: 100%;
}

.card{
  border: 2px solid;
  box-shadow:1px 1px 12px #fff, 1px 1px 12px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  align-items: center;
  text-align: center;
  border-radius: 22px;
  max-width: 50%;
  background: rgb(66,12,92);
  background: linear-gradient(111deg, rgba(66,12,92,1) 0%, rgba(84,116,159,1) 54%, rgba(15,8,78,1) 100%);
}

.container{
  padding: 10px;
}

/*add function to flip card*/