* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: quicksand;
  font-weight: bold;
  color: #ccb49a;
  background: #768cb6;
}

.card.hover .content{
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center ;
  transition: transform 1s;
  transform: translateX(-100deg), rotateY(-180deg);
}

.content{
  -webkit-backface-visibility: hidden;  /*Safari*/
  backface-visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  transform: translateX(-100deg), rotateY(-180deg);
  transition: transform 1s;
  transform-style: preserve-3d;
}




article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background: #232f78;
  box-shadow: 0 0 20px 20px #BFA181;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  border:#BFA181;
}

h1 {
  margin: 2rem 0 1rem;
  color: #ccb49a;
  font-family: lora;
}

img {
 position: relative;
  /*Put pic on the right*/
  top: 2rem;
  width: 10em;
  height: auto;
  border: 2px solid #768cb6;
  border-radius: 10em;
  box-shadow: 0 0 2px 2px #BFA181;
  transition: .25s .15s;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: #0a1869;
}

dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 2px solid #BFA181;
  font-weight: bold;
}
dt:nth-of-type(1) {
  grid-area: html-dt;
}
dt:nth-of-type(2) {
  grid-area: css-dt;
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: js-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

a{
text-decoration: none;
font-weight: bold;
color: #BFA181;
}

p { 
  margin: 0;
}

article > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
} 

.card.hover .content {
  transform: rotateY(180deg);
}


.content {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}


/* hide back of pane during swap */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */

.front {
  z-index: 2;
  transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
  background-color: #fff;
}


/*add functionality to flip card around with an animation*/
/*backside of card has additional information*/

